<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <style>

  </style>
</head>
<body>
  <!-- Navbar -->
  <nav>
    <div class="container nav-container">
      <a class="brand-logo" href="#">
        <div class="centered-text">
          <p class="my-text">RAQUETEIRO</p>
          <img class="my-logo" src="assets/resources/images/raquete-de-tenis.png" alt="Ícone de Raquete" />
        </div>
        <div class="container text-container">
          <div class="centered-text">
            <p class="my-subtext">Controle de Coleção de Raquetes de Tênis</p>
          </div>
        </div>
      </a>
    </div>
  </nav>

  <!-- Conteúdo do site -->
  <div class="container">
    <!-- Seu conteúdo aqui -->
  </div>
</body>
</html>
