<div class="centered-content">
  <div class="detalhes-container">
    <div *ngIf="raquete">
      <img src="assets/resources/images/raquete-de-tenis.png" alt="Imagem da Raquete" class="raquete-image" />
      <h1>{{ raquete.nomeMarca | uppercase }}</h1>
      <p>Valor: R$ {{ raquete.valor }}</p>
      <p>Link: <a [href]="raquete.link">{{ raquete.link }}</a></p>
      <p>Descrição: {{ raquete.descricao }}</p>
      <button (click)="excluirRaquete()" class="button-margin">Excluir</button>
      <button (click)="editarRaquete()" class="button-margin">Editar</button>
    </div>    
  </div>
  <div id="raqueteExcluidaAlert" class="alert-success" *ngIf="exibindoAlertaExclusao">
    Raquete excluída com sucesso!
    <button (click)="redirecionarParaColecao()">OK</button>
  </div>
</div>
