<div class="menu-container">
  <button class="menu-button btn-large waves-effect waves-light s12 m6 l4" routerLink="/colecao">Coleção</button>
  <button class="menu-button btn-large waves-effect waves-light s12 m6 l4" routerLink="/pesquisar">Pesquisar</button>
  <button class="menu-button btn-large waves-effect waves-light s12 m6 l4" routerLink="/cadastrar">Cadastrar</button>
  <button class="menu-button btn-large waves-effect waves-light s12 m6 l4" routerLink="/sobre">Sobre</button>
</div>
<div class="centered-text">
  <img class="img-raquete" [src]="imgRaquete" alt="Logo" />
</div>
  